.cards-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0px;
}

img.card {
  width: 70px;
  border-radius: 3px;
  margin-left: -52px;
}

.hhand img.card {
    padding-top: 10px;
}

.hhand.active-hand img.card:hover {
    padding-top: 0px;
    padding-bottom: 10px;
}

.selected {
    padding-top: 0px;
    padding-bottom: 10px;
}

img.card.selected {
    padding-top: 0px;
}

.cards-list-buttons {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-restart, .btn-shuffle {
    width: 300px;
    margin-bottom: 5px;
}

.btn-submit {
    width: 650px;
    margin-top: 10px;
}

h1 {
    font-size: 24px;
    margin: 30px 0px;
}