.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

button {
  background-color: #e5411f;
  color: white;
  border: 0px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #f59885;
  cursor: default;
}

.msg-loaded {
  margin-top: 15px;
  background-color: #EFEFEF;
  padding: 10px 15px;
  border-radius: 5px;
  width: 340px;
  height: 16.5px;
}

.encrypt-card,
.decrypt-card {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  width: 650px;
  justify-content: space-between;
}

.encrypt-text,
.decrypt-text {
  background-color: #EFEFEF;
  padding: 10px 15px;
  border-radius: 5px;
  width: 400px;
  height: 16.5px;
}

.encrypt-btn,
.decrypt-btn {
  width: 200px;
}
