@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  font-size: 14px;
}

body {
  margin: 0;
}